.title-table {
    text-align: center;
    background-color: white;
    color: #2e6e9e;
    border: 1px black dotted;
    font-weight: bold;
    background-color: rgb(223, 237, 247);
  }
  
  #tablaDatos table {
    background-color: white;
    cursor: pointer;
  }
  
  .MuiTableRow-head-121 {
    height: 0;
  }
  
  #tablaDatos table tbody tr td {
    padding: 0px;
  }
  

  #tablaDatos table thead th{
    padding: 0px;
    color: white;
    font-weight: bold;
    background-color: rgb(223, 237, 247);
    color: #2e6e9e;
    height: 0px;
    font-weight: normal;
    text-align: center;
  }
 /*#tablaDatos table thead th {
  padding: 0px;
    color: white;
    font-weight: bold;
    background-color: rgb(223, 237, 247);
    color: #2e6e9e;
    height: 0px;
    font-weight: normal;
    text-align: center; 
  }
*/


  .title-1 {
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
  }
  
.title-2{
  font-size: 0.8em;
}
  
  #tablaDatos table tbody tr td {
    /* margin: 0px; */
    text-align: center;
  }
  #tablaDatos table tbody tr td:active {
    /* margin: 0px; */
    color: #2e6e9e;
   
  }
  .MUIDataTable-responsiveScroll-3 {
    max-height: inherit;
    height: 4000px;
  }
  
  .col-md-8 div.MUIDataTable-responsiveScroll-3 {
    margin: 0px;
    max-height: 450px;
  }
 
  
  #tablaDatos table tbody tr {
    height: 15px;
    margin: 0px;
    padding: 0px;
  }
  
  #tablaDatos table thead tr {
    height: 40px;
    margin: 0px;
    padding: 0px;
  }
  #tablaDatos table thead tr th {
     padding: 0px 0px 0px 20px;  
      
  } 
  
  .fondo {
    background-color: white;
  
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 770px) {
    .topes {
      margin-top: 5px;
    }
    .fondo {
      margin-bottom: 8px;
    }
  
  

    
 #tablaDatos table tbody tr td div button {
      margin: 8px; 
      padding: 20px;;
   }
  
    .title-1 {
      color: black;
    }
    body {
      background: url("/ws.png");
    }
  }
  





  #tablaDatos table .MuiTableCell-root-132:last-child {
    padding-right: 0px;
  }
  #tablaDatos table .MuiIconButton-root-90 {
    padding: 0px;
  }
  
  #tablaDatos table .MuiSvgIcon-root-101 {
     margin: 0px; 
  }
  
  /* #tablaDatos table thead tr th {
      font-weight: bold;  
    */
  
  #tablaDatos table .MUIDataTableHeadCell-toolButton-161 {
    padding: 25px;
  }
  
  .table {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin-top: 0px;
  }
  

 
 #tablaDatos table tbody tr td div button {
 
 padding: 3px 3px 3px 3px ;
 margin:  0px 8px 0px 8px;

}
 